<!DOCTYPE html>
<html lang="en">
<head>
	<title>Education Q</title>
	<meta charset="UTF-8">
	<meta name="description" content="WebUni Education Template">
	<meta name="keywords" content="webuni, education, creative, html">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- Favicon -->   
	<link href="img/favicon.ico" rel="shortcut icon"/>

	<!-- Google Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Raleway:400,400i,500,500i,600,600i,700,700i,800,800i" rel="stylesheet">

	<!-- Stylesheets -->
	<link rel="stylesheet" href="{{ url_for(  'static', filename='css/bootstrap.min.css') }}   "/>
	<link rel="stylesheet" href="{{ url_for(  'static', filename='css/font-awesome.min.css') }}"/>
	<link rel="stylesheet" href="{{ url_for(  'static', filename='css/owl.carousel.css') }}"/>

	<link rel="stylesheet" href="{{ url_for(  'static', filename='css/style.css') }}"/>


	<!--[if lt IE 9]>
	  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
	  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->

</head>

<body>
	<!-- Page Preloder -->
	<!-- <div id="preloder"> -->
		<!-- <div class="loader"></div>  -->
	 <!-- </div> -->

	<!-- Header section -->
	<header class="header-section" style="background-color: rgb(89, 158, 186);">
		<div class="container">
			<div class="row">
				<div class="col-lg-3 col-md-3">
					<div class="site-logo">
						<a href="/">
						<img src="{{ url_for ('static', filename='img/logo.png')}}" alt="">
						</a>
						<!-- <img src="img/logo.png" alt=""> -->
					</div>
					<div class="nav-switch">
						<i class="fa fa-bars"></i>
					</div>
				</div>
				<div class="col-lg-9 col-md-9">
					<a href="/login" class="site-btn header-btn">Login</a>
					<nav class="main-menu">
						<ul>
							<li><a href="/">Home</a></li>
							<li><a href="/about">About us</a></li>
							<li><a href="/courses">Courses</a></li>
							<li><a href="/news">News</a></li>
							<li><a href="/contact">Contact</a></li>
						</ul>
					</nav>
				</div>
			</div>
		</div>
	</header>
	<!-- Header section end -->
	<!-- data-setbg="img/bg.jpg" -->
	<!-- url({{ url_for('static', filename='img/home.jpg') }}) -->



	<!-- BODY HERE  -->

        <div class="container" style="margin-top: 130px;">
            <div class="row" >
                <div class="col-lg-8 mx-auto">
                    <!-- <h3 class="card-title mt-3 text-center">Apply For Addmission</h3> -->

                    <form action="/ApplyforAddmission/"  method="POST" >
                        <div class="mb-3">
                            <label for="name">Name</label>
                            <input type="text" name="name" value="" id="name" class="form-control rounded shadow-sm">
                        </div>
                        <div class="row">
                            <div class="mb-3 col-lg-6">
                                <label for="mother_name">Mother Name</label>
                                <input type="text" name="mother_name" value="" id="mother_name" class="form-control rounded shadow-sm">
                            </div>
                            <div class="mb-3 col-lg-6">
                                <label for="father_name">Father Name</label>
                                <input type="text" name="father_name" value="" id="father_name" class="form-control rounded shadow-sm">
                            </div>
                        </div>
                    <div class="row">
                            <div class="mb-3 col-lg-6">
                                <label for="contact">Contact</label>
                                <input type="number" name="contact" value="" id="contact" class="form-control rounded shadow-sm">
                            </div>
                            <div class="mb-3 col-lg-6">
                                <label for="email">Email</label>
                                <input type="email" name="email" value="" id="email" class="form-control rounded shadow-sm">
                            </div>
                    </div>
                    <div class="row mb-3">
                            <div class="col-lg-4 col-md-3 col-6">
                                <label for="education">Education</label>
                                <input type="text" name="education" value="" class="form-control shadow-sm" id="eductaion">
                            </div>
                            <div class="col-lg-4 col-md-3 col-6">
                                <label for="dob">Date of Birth</label>
                                <input type="date" name="dob" value="" class="form-control shadow-sm" id="dob">
                            </div>
                            <div class="col-lg-4 col-md-3 col-12">
                                <label for="gender">Gender</label>
                                <select name="gender" id="gender" class="form-select">
                                    <option value="" selected="" disabled="" hidden=""></option>
                                    <option value="male">Male</option>
                                    <option value="female">Female</option>
                                    <option value="other">Other</option>
                                </select>
                            </div>
                    </div>
                    <div class="mb-3">
                        <label for="address">Address</label>
                        <textarea name="address" id="address" cols="30" rows="3" class="form-control"></textarea>
                        </div>
                    <div class="mb-3">
                        <button class="btn btn-primary w-100">Add</button>
                    </div>
                    </form>
        
                </div>
            </div>
        </div>

    



<!-- footer section -->
<footer class="footer-section spad pb-0">
	<div class="footer-top">
		<div class="footer-warp">
			<div class="row">
				<div class="widget-item">
					<h4>Contact Info</h4>
					<ul class="contact-list">
						<li>1481 Creekside Lane <br>Avila Beach, CA 931</li>
						<li>+53 345 7953 32453</li>
						<li>yourmail@gmail.com</li>
					</ul>
				</div>
				<div class="widget-item">
					<h4>Engeneering</h4>
					<ul>
						<li><a href="">Applied Studies</a></li>
						<li><a href="">Computer Engeneering</a></li>
						<li><a href="">Software Engeneering</a></li>
						<li><a href="">Informational Engeneering</a></li>
						<li><a href="">System Engeneering</a></li>
					</ul>
				</div>
				<div class="widget-item">
					<h4>Graphic Design</h4>
					<ul>
						<li><a href="">Applied Studies</a></li>
						<li><a href="">Computer Engeneering</a></li>
						<li><a href="">Software Engeneering</a></li>
						<li><a href="">Informational Engeneering</a></li>
						<li><a href="">System Engeneering</a></li>
					</ul>
				</div>
				<div class="widget-item">
					<h4>Development</h4>
					<ul>
						<li><a href="">Applied Studies</a></li>
						<li><a href="">Computer Engeneering</a></li>
						<li><a href="">Software Engeneering</a></li>
						<li><a href="">Informational Engeneering</a></li>
						<li><a href="">System Engeneering</a></li>
					</ul>
				</div>
				<div class="widget-item">
					<h4>Newsletter</h4>
					<form class="footer-newslatter">
						<input type="email" placeholder="E-mail">
						<button class="site-btn">Subscribe</button>
						<p>*We don’t spam</p>
					</form>
				</div>
			</div>
		</div>
	</div>
	<div class="footer-bottom">
		<div class="footer-warp">
			<ul class="footer-menu">
				<li><a href="#">Terms & Conditions</a></li>
				<li><a href="#">Register</a></li>
				<li><a href="#">Privacy</a></li>
			</ul>
			<div class="copyright"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></div>
		</div>
	</div>
</footer> 
<!-- footer section end -->


<!--====== Javascripts & Jquery ======-->
<script src="{{ url_for(  'static', filename='js/jquery-3.2.1.min.js')}}"></script>
<script src="{{ url_for(  'static', filename='js/bootstrap.min.js')}}"></script>
<script src="{{ url_for(  'static', filename='js/mixitup.min.js')}}"></script>
<script src="{{ url_for(  'static', filename='js/circle-progress.min.js')}}"></script>
<script src="{{ url_for(  'static', filename='js/owl.carousel.min.js')}}"></script>
<script src="{{ url_for(  'static', filename='js/main.js  ')}} "></script>
</html>