{% extends "layout.html" %}

{% block body  %}

<header class="header-section" style="background-color: #1a1717;">
    <div class="container" >
        <div class="row">
            <div class="col-lg-3 col-md-3">
                <div class="site-logo">
                    <a href="/">
                    <img src="{{ url_for ('static', filename='img/logo.png')}}" alt="">
                    </a>
                    <!-- <img src="img/logo.png" alt=""> -->
                </div>
                <div class="nav-switch">
                    <i class="fa fa-bars"></i>
                </div>
            </div>
            <div class="col-lg-9 col-md-9">
                <a href="/signup" class="site-btn header-btn">SignUp</a>
                <nav class="main-menu">
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="/about">About us</a></li>
                        <li><a href="/courses">Courses</a></li>
                        <li><a href="/news">News</a></li>
                        <li><a href="/contact">Contact</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</header>
	<!-- BODY HERE  -->

        <div class="container" style="margin-top: 130px;">
            <div class="row" >
                <div class="col-lg-8 mx-auto">
                    <h3 class="card-title mt-3 text-center">Welcome to Login</h3>

                    <form action="/signup"  method="" >
                        <div class="mb-3">
                            <label for="name">Name</label>
                            <input type="text" name="name" value="" id="name" class="form-control rounded shadow-sm">
                        </div>
 
                    <div class="row">
                            <div class="mb-3 col-lg-6">
                                <label for="contact">Contact</label>
                                <input type="number" name="contact" value="" id="contact" class="form-control rounded shadow-sm">
                            </div>
                            <div class="mb-3 col-lg-6">
                                <label for="email">Email</label>
                                <input type="email" name="email" value="" id="email" class="form-control rounded shadow-sm">
                            </div>
                    </div>
             
            
                    <div class="mb-3">
                        <button class="btn btn-primary w-100">Log In</button>
                    </div>
                    </form>
        
                </div>
            </div>
        </div>

    
        {% endblock %}
